{% extends '_layout' %}
{% set notes = [
    'Eager-load `relatedEntries` as well as their `relatedEntries`.',
] %}

{% set limit = craft.app.request.getParam('limit') ?? 10 %}
{% set entryQuery = craft.entries
    .section('articles')
    .orderBy('order asc')
    .limit(limit)
    .with('relatedEntries.relatedEntries')
%}
{% set entries = entryQuery.all() %}


{% block content %}

    {% if entries|length %}
        <ul>
            {% for entry in entries %}
                <li>
                    {{ entry.title }}
                    {{ entry.relatedEntries|length ? '→' }}
                    {% for relatedEntry in entry.relatedEntries %}
                        {{ relatedEntry.id }} [
                        {%- for distantEntry in relatedEntry.relatedEntries -%}
                            {{ distantEntry.id }}
                            {{- not loop.last ? ',' }}
                        {%- endfor -%}
                        ]{{ not loop.last ? ',' }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <small>
            Showing {{ entries|length }} of {{ entryQuery.count() }}.
        </small>
    </p>

{% endblock %}


{% set code = "
{% set entryQuery = craft.entries.section('articles').limit(" ~ limit ~ ")
    .with('relatedEntries.relatedEntries')
%}
{% set entries = entryQuery.all() %}

{% if entries|length %}
    {% for entry in entries %}
        {{ entry.title }}
        {{ entry.relatedEntries|length ? '→' }}
        {% for relatedEntry in entry.relatedEntries %}
            {{ relatedEntry.id }} [
            {%- for distantEntry in relatedEntry.relatedEntries -%}
                {{ distantEntry.id }}
                {{- not loop.last ? ',' }}
            {%- endfor -%}
            ]{{ not loop.last ? ',' }}
        {% endfor %}
    {% endfor %}
{% endif %}

Showing {{ entries|length }} of {{ entryQuery.count() }}.
" %}
