<!DOCTYPE html>
<html lang="en-US">

{% set totalSlides = 15 %}
{% set slide = craft.app.request.segment(2) %}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ slide }}.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
</head>
<body class="ltr">
<div id="container">
    <div id="modal">
        <div id="main">
            <div class="content">

                <h1>
                    {{ slide }}.
                    <div class="float-right">
                        {% if slide > 0 %}
                            <a href="{{ slide - 1 }}" class="go back"></a>
                        {% endif %}
                        {% if slide < totalSlides %}
                            <a href="{{ slide + 1 }}" class="go"></a>
                        {% endif %}
                    </div>
                </h1>

                <div class="notes">
                    {{ notes is defined ? notes|join('<br>')|md }}
                </div>

                {% block content %}{% endblock %}

            </div>
        </div>
        <div id="aside">

            <pre><code class="language-twig">
                {%- if code is defined -%}
                    {{ code|replace({'    ': '  '}) }}
                {%- endif -%}
            </code></pre>

        </div>
    </div>
</div>

<script src="/assets/js/prism.js"></script>

</body>
</html>
