{% extends '_layout' %}
{% set notes = [
    'Rename `entries` to `entryQuery`.',
    'Use correct element query executors (fix deprecated code).',
] %}

{% set limit = craft.app.request.getParam('limit') ?? 10 %}
{% set entryQuery = craft.entries.section('articles')
    .orderBy('order asc').limit(limit)
%}


{% block content %}

    {% if entryQuery.count() %}
        <ul>
            {% for entry in entryQuery.limit(limit).all() %}
                <li>
                    {{ entry.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <small>
            Displaying {{ entryQuery.limit(limit).count() }} of {{ entryQuery.count() }} entries.
        </small>
    </p>

{% endblock %}


{% set code = "
{% set entryQuery = craft.entries.section('articles')
    .orderBy('order asc').limit(limit)
%}

{% if entryQuery.count() %}
    {% for entry in entryQuery.all() %}
        {{ entry.title }}
    {% endfor %}
{% endif %}

Displaying {{ entryQuery.count() }} of {{ entryQuery.count() }}.
" %}
