{% extends '_layout' %}
{% set notes = [
    'Memoize `entries`.',
    'Remove `.count()` and fix number of displayed entries.',
] %}

{% set limit = craft.app.request.getParam('limit') ?? 10 %}
{% set entryQuery = craft.entries.section('articles')
    .orderBy('order asc').limit(limit)
%}
{% set entries = entryQuery.all() %}


{% block content %}

    {% if entries|length %}
        <ul>
            {% for entry in entries %}
                <li>
                    {{ entry.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        <small>
            Displaying {{ entries|length }} of {{ entryQuery.count() }}.
        </small>
    </p>

{% endblock %}


{% set code = "
{% set entryQuery = craft.entries.section('articles')
    .orderBy('order asc').limit(limit)
%}
{% set entries = entryQuery.all() %}

{% if entries|length %}
    {% for entry in entries %}
        {{ entry.title }}
    {% endfor %}
{% endif %}

Displaying {{ entries|length }} of {{ entryQuery.count() }}.
" %}
