{% extends '_layout' %}
{% set notes = [
    'Get crazy with inception (poorly).',
] %}

{% set entryQuery = craft.entries
    .section('articles')
    .orderBy('order asc')
    .limit(10)
%}
{% set entries = entryQuery.all() %}


{% block content %}

    {% if entries|length %}
        <ul>
            {% for entry in entries %}
                <li>
                    {{ entry.title }}
                    {% if entry.relatedEntries.count() %}
                        : is related to
                        {% for relatedEntry in entry.relatedEntries.all() %}
                            {{ relatedEntry.id }}
                            [
                                {%- for deeplyRelatedEntry in relatedEntry.relatedEntries.all() -%}
                                    {{ deeplyRelatedEntry.id }}
                                    {{- not loop.last ? ',' }}
                                {%- endfor -%}
                            ]
                            {{- not loop.last ? ',' }}
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
